<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OOPS Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E135E7DE1D3501FD009939FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E135E7F21D3501FE009939FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E135E7FD1D3501FE009939FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
